body {
    margin: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#fireworksCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}

h1 {
    font-size: 8rem;
    margin: 0;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

#newYearMessage {
    display: block;
}
